/* Fonts */

@font-face {
    font-family: 'GeometrySoftPro';
    src: url('../assets/font/GeometrySoftPro-BoldN.woff') format('woff'),
    url('../assets/font/GeometrySoftPro-BoldN.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
