@import 'src/styles/keyframes';
@import 'src/styles/colors';

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-radius: 6px;
  width: 600px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  animation-name: slide-up;
  animation-duration: 200ms;
  margin: 10px 0;

  p {
    margin: 4px 0;
  }
}

.alert--success {
  border: solid $success-color;
  border-width: 0 0 0 6px;
  color: $success-color;
  background: #e4f8f0;
}

.alert--error {
  border: solid $error-color;
  border-width: 0 0 0 6px;
  color: $error-color;
  background: #f8e4e4;
}

.alert--info {
  border: solid $info-color;
  border-width: 0 0 0 6px;
  color: $info-color;
  background: #e4e9f8;
}
