@import 'src/styles/fonts';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

h1, h2 {
    font-family: GeometrySoftPro, sans-serif;
}
